.colordiv{
    width: 100px;
    height: 50px;
    /* background-color: red; */
    margin-bottom: 5px;
}
.color1{
    background-color:hsl(163, 72%, 41%) ;
}
.color2{
    background-color:hsl(356, 69%, 56%);
}
.color3{
    background-color:hsl(208, 92%, 53%) ;
}
.color4{
    background-color:hsl(203, 89%, 53%) ;
}
.color5{
    background-image:linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) ;
}
.color6{
    background-image:linear-gradient(to right, hsl(210, 78%, 56%) , hsl(146, 68%, 55%)) ;
}
.color7{
    background-color: hsl(230, 22%, 74%) ;
}
.color8{
    background-color:hsl(230, 17%, 14%) ;
}
.color9{
    background-color: hsl(232, 19%, 15%) ;
}
.color10{
    background-color:hsl(228, 28%, 20%) ;
}
.color11{
    background-color: hsl(228, 34%, 66%) ;
}
.color12{
    background-color: hsl(225, 100%, 98%) ;
}
.color13{
    background-color: hsl(227, 47%, 96%) ;
}
.color14{
    background-color: hsl(228, 12%, 44%);
}
.color15{
    background-color:  hsl(230, 17%, 14%);
}

/* ========= start====== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter',sans-serif;
    font-size: 14px;
}
.head{
    padding: 40px 30px 90px;
    background-color:  hsl(225, 100%, 98%);
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius: 30px ;
    font-weight: 700;
}
.dark-head{
    background-color: hsl(232, 19%, 15%);
}
.head-top{
    padding: 0px 0 20px 0;
    border-bottom: 2px solid #bbb;
    margin-bottom: 20px;
    line-height: 1.4;
}
.head-top h2{
    font-size: 25px;
    color:hsl(230, 17%, 14%) ;
}
.dark-head h2{
    color:  hsl(0, 0%, 100%);
}
.head-top p{
    color: hsl(228, 12%, 44%);
}
.dark-head p{
    color:  hsl(228, 34%, 66%);
}
.mode{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    color:hsl(228, 12%, 44%) ;
}
.dark-head .mode{
    color:  hsl(228, 34%, 66%);
}
.toggle{
    width: 49px;
    height: 25px;
    /* border: 1px solid blue; */
    border-radius: 30px;
    background-color:hsl(230, 22%, 74%) ;
    padding: 3px;
    position: relative;
}
.dark-head .toggle{
    background-image:linear-gradient(to right, hsl(210, 78%, 56%) ,hsl(146, 68%, 55%));
}
.cir-tog{
    width: 20px;
    height: 20px;
    /* border: 1px solid yellow; */
    border-radius: 50%;
    background-color: hsl(225, 100%, 98%);
    position: absolute;
    right: 3px;
    cursor: pointer;
}
.dark-head .cir-tog{
    background-color: hsl(232, 19%, 15%);
}
.main{
    /* border: 1px solid red; */
    /* width: 90%; */
    margin: 0 auto;
    padding:0 30px ;
    position: relative;
    top: -50px;

}
.box-b{
    border-top: 4px solid hsl(208, 92%, 53%);
    text-align: center;
    padding: 25px;
    background-color: hsl(227, 47%, 96%);
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    /* line-height: 1.5; */
}
.dark-mainB .box-b{
    background-color: hsl(228, 28%, 20%);
}
.nath{
    padding: 0 0 20px;
    color:hsl(228, 12%, 44%) ;
}
.dark-mainB .nath{
    color:hsl(228, 34%, 66%) ;
}
.nath img{
    margin-right: 5px;
    vertical-align: middle;
}
.mid{
    padding-bottom: 30px;
}
.num{
    font-weight: 700;
    font-size: 50px;
    color:hsl(230, 17%, 14%) ;
}
.dark-mainB .num{
    color: white;
}
.follow{
    letter-spacing: 4px;
    color: hsl(228, 12%, 44%);
}
.dark-mainB .follow{
    color:hsl(228, 34%, 66%) ;
}
.today p{
    color:hsl(163, 72%, 41%) ;
}
.dark-mainB .d-today p{
    color: white;
}
.today span{
    margin-right: 4px;
}
.bor-orange{
    border: none;
    position: relative;
}
.bor-orange::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    /* border: 1px solid red; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-image:linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) ;
}
.last-b{
    border-top-color:hsl(356, 69%, 56%) ;
}
.last-b .today p {
    color: hsl(356, 69%, 56%);
}
.main-small{
    /* border: 1px solid red; */
}
.main-small h2{
    padding: 30px 0;
    font-size: 25px;
    /* border: 1px solid blue; */
    color: hsl(228, 12%, 44%);
}
.dark-mainS h2{
    color: white;
}
.box-s{
    /* border: 1px solid yellow; */
    padding: 25px 25px 20px;
    background-color: hsl(227, 47%, 96%);
    border-radius: 7px;
    margin-bottom: 15px;
    color: hsl(228, 12%, 44%);
    font-weight: 700;
}
.dark-mainS .box-s{
    background-color: hsl(228, 28%, 20%);
}
.top-s{
    display: flex;
    justify-content: space-between;
    padding: 0px 0 15px;
}
.top-s p{
    color: hsl(228, 12%, 44%);
    font-weight: bold;
}
.num-s{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid yellow; */
}
.num-s h2{
    font-size: 30px;
    padding:0 0 10px 0;
}
.num-s p{
    color: hsl(163, 72%, 41%);
}
.num-s p img{
    vertical-align: middle;
}
.red-num p{
    color:hsl(356, 69%, 56%) ;
}
/* =============== intro=================== */
.intro{
    font-size: 10px;
}
.dark-intro{
    color: white;
}